.Image {
  /*border: 2px solid transparent;*/
  box-shadow: 0px 1px 6px rgb(150, 150, 150);
  box-sizing: border-box;
  margin-bottom: 25px;
  margin-right: 2%;
  transition: border-color .3s ease;
  width: 23%;
}

.Image:hover .Image__selector {
  opacity: 1;
}

.Image.selected {
  border: 2px solid transparent;
  border-color: rgb(13, 138, 125);
}

.Image.selected .Image__selector {
  background-color: rgb(13, 138, 125);
}

.Image__photo {
  height: 250px;
  position: relative;
}

.Image__selector {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  left: 12px;
  opacity: 0;
  position: absolute;
  top: 12px;
  transition: .3s ease;
  transition-property: background-color, opacity;
  width: 25px;
}

.Image__photo img {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}

.Image__description {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  padding: 20px 15px;
}

.Image__title {
  font-size: .8rem;
  font-weight: 600;
  text-transform: capitalize;
}

.Image__date {
  font-size: .7rem;
}

.bold {
  font-weight: 600;
}