.Image {
  box-shadow: 0 1px 6px rgb(150, 150, 150);
  box-sizing: border-box;
  margin-bottom: 25px;
  position: relative;
  transition: border-color .3s ease;
}

@media (min-width: 1400px) {
  .Image {
    width: 23%;
  }

  .Image:not(:nth-of-type(4n)) {
    margin-right: 2.666%;
  }
}

@media (min-width: 1001px) and (max-width: 1400px) {
  .Image {
    width: 31%;
  }

  .Image:not(:nth-of-type(3n)) {
    margin-right: 3.5%;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .Image {
    width: 48%;
  }

  .Image:not(:nth-of-type(2n)) {
    margin-right: 4%;
  }
}

@media (max-width: 500px) {
  .Image {
    width: 100%;
  }
}

.Image__border {
  border: 2px solid rgb(13, 138, 125);
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity .3s ease;
  width: 100%;
}

.Image:hover .Image__selector,
.Image.selected .Image__border,
.Image.selected .Image__selector {
  opacity: 1
}

.Image.selected .Image__selector {
  background-color: rgb(13, 138, 125);
}

.Image__photo {
  height: 250px;
  position: relative;
}

.Image__selector {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  left: 12px;
  opacity: 0;
  position: absolute;
  top: 12px;
  transition: .3s ease;
  transition-property: background-color, opacity;
  width: 25px;
}

.Image__photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.Image__description {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  padding: 20px 15px;
}

.Image__title {
  font-size: .8rem;
  font-weight: 600;
  text-transform: capitalize;
}

.Image__date {
  font-size: .7rem;
}

