.Controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: .8rem;
}

.Controls__header {

}

.Controls__buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 15%;
}