.Controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: .8rem;
}

.Controls__header {

}

.Controls__buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 15%;
}

@media (max-width: 1000px) {
  .Controls__buttons {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .Controls {
    flex-direction: column;
  }

  .Controls__header {
    margin-bottom: 15px;
  }
}